# Версия Docker-образов
IMAGE_VERSION=latest

# Пользователь Docker Hub
DOCKERHUB_USERNAME=YOUR_DOCKERHUB_USERNAME

# PostgreSQL
DB_NAME=diamond_shield
DB_USER=diamond
DB_PASSWORD=CHANGE_ME_DATABASE_PASSWORD

# Первый администратор системы
DEFAULT_ADMIN_USERNAME=admin
DEFAULT_ADMIN_PASSWORD=CHANGE_ME_ADMIN_PASSWORD